@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* "." - для class */
/* "#" - для id */

body {
  background-color: #f1f1f1;
  color: #0f141e;

  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;

  /* font: normal 16px "Roboto", sans-serif; */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

.avatar {
  width: "200";
  border-radius: 30px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p {
  color: #86898f;
  margin: 0px;
  /* font-style: italic; */
  /* font-weight: bold; */
  text-decoration: none;
  /* text-transform: capitalize;
  letter-spacing: 5px;
  word-spacing: 40px; */
}

/* Box-model */
.container {
  max-width: 1000px;
  margin: auto;
}

.social {
  background-color: red;
  /* padding: 15px; */
  /* padding: 15px 40px; */
  padding: 15px 20px 25px 30px;
  border: 5px solid purple;
  border-bottom-left-radius: 10px;
  margin: 20px;
}

/* ">" - применить только к дочерним объектам*/
/* "box-sizing" - изменяет параметры обращения к разметке */
.box-model > div {
  float: left;
  background: #000;
  height: 200px;
  width: 25%;
  border: 4px solid silver;
  box-sizing: border-box;
}
